*{
padding:0;
margin:0;
background-color:rgb(5,10,20);
box-sizing:border-box;
}

h2 {
text-decoration:underline;
font-variant:small-caps;
font-style:oblique;
text-shadow:3px 1px 0px yellow;
text-align:center;
color:fuchsia;
font-weight:999;
font-family:fantasy;
}

.body {
width:100vw;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
}

.animes {
width:100px;
height:100px;
background:black;
border-radius:50%;
border:solid 1px white;
animation:ex 300ms linear infinite;
}

@keyframes ex{
0%{box-shadow:blue 4px 4px 0px; transform:rotate(0deg);}
25%{box-shadow:aqua 4px 4px 0px;}
50%{box-shadow:lime 4px 4px 0px;}
75%{box-shadow:yellow 4px 4px 0px;}
100%{box-shadow:fuchsia 4px 4px 0px;transform:rotate(360deg);}
}

